{% extends "base.html" %}
{% block title %}Alterar Senha{% endblock %}

{% block content %}
<div class="container py-5" style="max-width: 500px;">
    <div class="card shadow-sm">
        <div class="card-body">
            <h4 class="mb-4">Alterar Senha</h4>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="d-flex justify-content-end gap-2">
                    <a href="{% url 'profile' %}" class="btn btn-light">
                        Cancelar
                    </a>
                    <button class="btn btn-primary">
                        Salvar senha
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
